@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
  font: inherit;
  font-family: "Helvetica", sans-serif;
  vertical-align: baseline;
  box-sizing:border-box;
  max-width:100%;
}

body {
  background-color:black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size:2.5rem;
}

h2 {
  font-size:1.7rem;
  text-shadow: 0 0 0 1px hsla(240, 30.1%, 28%, 0.05), 0 2px 5px 0 hsla(240, 30.1%, 28%, 0.1), 0 1px 1px 0 hsla(0, 0%, 0%, 0.07);
}

p {
  font-size:1.1rem;
}

.App {
  display:flex;
  flex-direction:column;
  align-items:center;
}